.nav{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
}

.nav-logo{
   
}

.nav-link{
   
    width: 100%;

}

.nav-link ul{
    display: flex;
    justify-content:space-around
}

.nav-link ul li{
    list-style: none;
}

.container {
    position: relative;
    text-align: center;
  }
  
  .image {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .container {
    position: relative;
    text-align: center;
    background-image: url("./img/drew-coffman-1872.jpg");
    background-size: cover;
    background-position: center;
    height: 400px; /* Adjust the height as needed */
  }
  .text {
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
   
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

/* .header img{
    width: 100%
}

.header{
    position: relative;
}

.header-content{
    position: absolute;
    bottom: 20px;
    left: 50px
}

.header-content h2{
    font-size: 30px;
    color: rgb(135, 132, 132);
    letter-spacing: 4px;
} */

/* 
.about{
    display: flex;
    width: 900px;
    margin: auto;
    margin-top: 80px;  
}
.about img{
    width: 400px;
    opacity: 0.7;
}
.about-content{
    margin-left: 40px;
}
.about-content h2{
    text-align: center;
    font-size: 25px;
    letter-spacing: 4px;
}
.about-content .prag1{
    text-align: center;
    letter-spacing: 4px;
    padding-top: 15px;
}
.about-content .prag2{
    letter-spacing: 0.5px;
} */


